<div class="dialog">
    <h2 mat-dialog-title class="title"> {{ data.issue.title }} </h2>
    <mat-dialog-content>
        <h4 class="subfield">Описание: </h4> <h4 style="font-weight: 500;">{{ data.issue.content }}</h4>
        <h4 class="subfield">Тип: </h4> <h4 style="font-weight: 500;">{{ data.issue.type }}</h4>
        <h4 class="subfield">Исполнитель: </h4> <h4 style="font-weight: 500;">{{ data.issue.assigner.name }}</h4> 

        <h3 class="">История изменений: </h3> <h4 style="font-weight: 300;">{{history}}</h4>

    </mat-dialog-content>
    <mat-dialog-actions>

        <input class="comment" [(ngModel)]="comment" type="text" placeholder="Оставьте комментарий...">
        <button (click)="commentIssue()">
            Отправить 
        </button>

        <button (click)="closeDialog()">
            Закрыть 
        </button>

    </mat-dialog-actions>

</div>
