<div class="issue-list">
    <app-notification></app-notification>

    <h1 class="super-header">I$$ue$!</h1> 

    <app-add-form (itemAdd)="addIssue($event)" (note)="showToast($event)"></app-add-form> 

    <div class="main-content">
        <div class="issues" >
            <div class="issue-btns">
                <button matButton="" (click)="showOpened()" class="issue-btn"> 
                    Открытые задачи
                </button>
                <button matButton="" (click)="showClosed()" class="issue-btn"> 
                    Закрытые задачи 
                </button>
            </div>

            <h2>Всего задач: {{(issues.length + closed.length)}} </h2> 
            <mat-list>
            @if (!isFiltered) {
                @if(isOpened) {
                    @for(issue of issues; track $index) {
                        <!-- Задачу можно закрыть и назначить на себя.  -->
                        <app-issue-item [issue]="issue" 
                            (close)="closeIssue($event)" 
                            (assign)="assignYourself($event)" 
                            (note)="showToast($event)">
                        </app-issue-item> 
                    }

                    @if(issues.length === 0) {
                        <h3 class="empty-res">
                            Пока нет открытых задач 
                        </h3>
                    }
                }
                @else {
                    @for(item of closed; track $index) {
                        <app-issue-item [issue]="item"></app-issue-item> 
                    }

                    @if(closed.length === 0) {
                        <h3 class="empty-res">
                            Пока нет закрытых задач 
                        </h3>
                    }
                }
            }
            @else {
                @for(issue of filteredIssues; track $index) {
                        <app-issue-item [issue]="issue" (close)="closeIssue($event)" (assign)="assignYourself($event)"></app-issue-item> 
                    }

                    @if(filteredIssues.length === 0) {
                        <h3 class="empty-res">
                            Нет задач с заданными параметрами 
                        </h3>
                    }
            }
            </mat-list>
        </div>

        <div class="filters">
                <h3 class="filter-header">Фильтры: </h3>
                <mat-list>
                    <mat-list-item>
                        Тег: <select [(ngModel)]="filterTag" name="type" (click)="doFilter()" class="select-form"> 
                            @for (type of tags; track type) {
                                <option [value]="type">{{type}}</option>
                            }
                        </select>
                    </mat-list-item>

                    <mat-list-item>
                        Приоритет: <select [(ngModel)]="filterPriority" (click)="doFilter()" name="type" class="select-form"> 
                            @for (type of priors; track type) {
                                <option [value]="type">{{type}}</option>
                            }
                        </select>
                    </mat-list-item>

                    <mat-list-item>
                        Создатель: <select [(ngModel)]="filterCreator" name="type" (click)="doFilter()" class="select-form"> 
                            @for (type of users; track type) {
                                <option [value]="type">{{type}}</option>
                            }
                        </select>
                    </mat-list-item>

                    <mat-list-item>
                    Исполнитель: <select [(ngModel)]="filterAssigner" name="type" (click)="doFilter()" class="select-form"> 
                        @for (type of users; track type) {
                            <option [value]="type">{{type}}</option>
                        }
                    </select>
                    </mat-list-item>
                </mat-list>
                <button class="cancel-filters" (click)="clearFilters()">
                    Сбросить фильтры 
                </button>

                <!-- Передаём в event данные для инициализации пользователя, 
                который работает сейчас в программе.
                Изменено: общий текущий пользователь хранится в UserService. --> 
                <app-user (reg)="addUser($event)" (note)="showToast($event)"></app-user> 
        </div>
    </div>

    <button (click)="cleaner()" style="margin-left: 30px; margin-top: 20px;"> 
        Очистка бардака в хранилище 
    </button>

</div>
