.issue-list {
    max-width: 500px; // двигаем чтобы текст был по центру страницы 
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    // align-items: center;
    // align-self: center;
    // align-content: center;
    // alignment-baseline: central;
}

.empty-res {
    font-style: italic;
    text-align: center;
    color: #666;
    margin-top: 20px;
}

.super-header {
    text-align: center;
    color: rgb(255, 0, 0);
}
