.issue-list {
    max-width: 150px; // двигаем чтобы текст был по центру страницы 
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.empty-res {
    font-style: italic;
    text-align: center;
    color: #666;
    margin-top: 20px;
}
