.issue-list {
    max-width: 500px; // двигаем чтобы текст был по центру страницы 
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    // display: inline;
}

.issues {
    float: left; 
    display: block; 
    width: 300px; 
    border: none; 
    margin: 2px; 
    padding: 4px; 
}

.filters {
    margin-left: 100px;
    // margin-top: auto;
    // max-width: 500px;
    float: left; 
    display: block; 
    width: 300px; 
    border: none; 
    margin: 2px; 
    padding: 4px; 
}

.empty-res {
    font-style: italic;
    text-align: center;
    color: #666;
    margin-top: 20px;
}

.super-header {
    text-align: center;
    color: rgb(255, 0, 0);
}

.main-content {
    width: 600px;
    border-color: green;
    border: 10px solid #408e00;
    border-radius: 5px;
    display: flex;
}

.filter-header {
    margin-top: 20px; 
    align-items: center; 
    text-align: center;
}

.issue-btns {
    display: flex;
}

.issue-btn {
    text-align: center;
    display: flex;
    // padding: 5px 30px;
    white-space: nowrap;
    border: 1px solid #1a290e;
}
