.item-form {
    display: flex;
    align-self: auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #922525;
    border-radius: 4px;
    margin-bottom: 8px;
    background: white;
    margin-left: 10px;
}
