.item-form {
    display: flex;
    align-self: auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    // border: 1px solid #922525;
    border: none;
    border-radius: 4px;
    margin-bottom: 8px;
    background: white;
    margin-left: 10px;
    width: 250px;
}

.card-content {
    align-self: center;
    width: 250px;
}

.header {
    text-align: center;
    text-shadow: #922525;
    font-weight: 900;
    font-size: x-large;
    color: #922525;
}
