<div class="item-form">
    <mat-card>
        <mat-card-content>
            <h2>{{issue.title}}</h2>
            <h3>Тип задачи: {{issue.type}} </h3>
            <h3>Приоритет: {{issue.priority}} </h3> 

            <button *ngIf="issue.opened" (click)="assignYourself()" class="saved-btn"> 
                Взять задачу 
            </button> 

            <button (click)="openIssueDialog()" class="del-saved-btn"> 
                Просмотр 
            </button>

            <button *ngIf="issue.opened" (click)="closeIssue()" class="saved-btn"> 
                Закрыть задачу 
            </button> 

        </mat-card-content>

    </mat-card>

</div>
