div { 
    padding: 10px; 
    border-radius: 5px;
    position: absolute;
    margin-top: 30px; 
    margin-left: 300px;
}

.success { 
    background-color: lightgreen; 
}
        
.error { 
    background-color: salmon; 
}

.info { 
    background-color: lightblue; 
}
