<div class="main-form">

    <dialog id="myDialog" >
        <form method="dialog"> 
            <div class="add-form">
                <input *ngIf="isVisibleAdding" [(ngModel)]="title" name="first" type="text" placeholder="Название задачи" class="form-input">
                <input *ngIf="isVisibleAdding" [(ngModel)]="content" name="second" type="text" placeholder="Что нужно сделать? " class="form-input"> 

                <h4 *ngIf="isVisibleAdding" class="txt-form">Тип задачи: </h4> <select *ngIf="isVisibleAdding" [(ngModel)]="type" name="type" class="select-form"> 
                    @if(isVisibleAdding) {
                        @for (type of types; track type) {
                            <option [value]="type">{{type}}</option>
                        }
                    }
                </select>

                <h4 *ngIf="isVisibleAdding" class="txt-form">Приоритет: </h4> <select *ngIf="isVisibleAdding" [(ngModel)]="priority" name="priority" class="select-form">
                    @if(isVisibleAdding) {
                        @for (priority of priorities; track priority) {
                            <option [value]="priority">{{priority}}</option>
                        }
                    }
                </select>

            </div>

            <button *ngIf="isVisibleAdding" (click)="addIssue()" class="add-btn">
                Добавить 
            </button>

            <button *ngIf="isVisibleAdding" (click)="cancelAdding()" class="add-btn">
                Отменить 
            </button>
            
        </form>
    </dialog> 
    
    <button *ngIf="!isVisibleAdding" onclick="window.myDialog.showModal()" (click)="startAdding()" class="add-btn">
        Новая задача 
    </button>

</div>
