.add-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px; 
    max-width: 200px;
    max-height: 30px;
    align-items: baseline;
}

.txt-form {
    margin-right: 10px;
    display: flex;
    white-space: nowrap;
}
