.add-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px; 
    max-width: 800px;
    max-height: 30px;
    align-items: baseline;
    // background-color: aqua;
}

.txt-form {
    margin-right: 10px;
    display: flex;
    white-space: nowrap;
}

.main-form {
    display: flex;
    margin-bottom: 20px;
    margin-left: 30px;
}
