.comment-list {
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.dialog {
    background-color: rgb(215, 212, 226);
}

.title {
    text-align: center;
    font-style: italic;
    font-size: xx-large;
}

.subfield {
    font-size: large;
    font-style: italic;
    // color: black;
    // display: inline-block;
    // white-space: nowrap;
}
