.comment-list {
    // max-width: 150px; // двигаем чтобы текст был по центру страницы 
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.dialog {
    background-color: rgb(47, 0, 255);
}
