<div class="user">
    <button *ngIf="!isStartLogging" (click)="startLog()" class="log-btn"> 
        Войти
    </button>

    <button *ngIf="!isStartLogging" (click)="startReg()" class="reg-btn"> 
        Зарегистрироваться 
    </button>

    <input *ngIf="isStartLogging" [(ngModel)]="user.name" type="text" placeholder="Ваше имя " class="ceil-input-form">
    <input *ngIf="isStartLogging" [(ngModel)]="user.password" type="text" placeholder="Введите пароль" class="floor-input-form">

    <div class="send-btns">
        <button *ngIf="isStartLogging && isRegister" (click)="register()" class="send"> 
            Отправить 
        </button>

        <button *ngIf="isStartLogging && !isRegister" (click)="logIn()" class="send"> 
            Отправить 
        </button>

        <button *ngIf="isStartLogging" (click)="cancel()" class="not-send"> 
            Отменить 
        </button>
    </div>

</div>
