.user {
    // display: flex;
    // max-width: 100px;
    margin-top: 20px;
}

.log-btn {
    margin-top: 30px;
    margin-left: 60px;
    padding: 8px 10px;
    background: #1f883d;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(14, 14, 14);
    border-radius: 3px;
    cursor: pointer;
}

.reg-btn {
    margin-left: 15px;
    margin-top: 30px;
    padding: 8px 10px;
    // margin-right: 50px;
    background: #1949a2;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(14, 14, 14);
    border-radius: 3px;
    cursor: pointer;
}

.send {
    margin-top: 0px;
    margin-left: 16px;
    padding: 2px 4px;
    background: #1f883d;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(14, 14, 14);
    border-radius: 3px;
    cursor: pointer;
}

.not-send {
    margin-top: 0px;
    margin-left: 20px;
    padding: 2px 4px;
    background: #881f1f;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(14, 14, 14);
    border-radius: 3px;
    cursor: pointer;
}

.floor-input-form {
    margin-top: 10px;
    margin-left: 16px;
}

.ceil-input-form {
    margin-top: 30px;
    margin-left: 16px;
}

.send-btns {
    margin-top: 10px;
    display: flex;
}
